:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --main-bg-color: #ffffff;
  --address-color-link: rgba(255, 255, 255, 0.6);
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --accent-color: #2196f3;
  --border-color: #ececec;
  --border-color-works: #eeeeee;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--title-text-color);
  font-weight: 700;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* HEADER */

.header {
  border-bottom: 1px solid var(--border-color);
}

.header-container {
  padding-top: 20px;
  padding-bottom: 19px;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: var(--black-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-logo span {
  color: var(--accent-color);
}

/* Menu */

.menu {
  display: flex;
}

/* .menu-item + .menu-item {
  margin-left: 50px;
} */

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu-link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.current {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts-item + .contacts-item {
  margin-left: 50px;
}

.contacts-link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  color: currentColor;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* FOOTER */
.footer {
  background-color: var(--footer-bg-color);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: var(--white-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-logo span {
  color: var(--accent-color);
}

.address {
  margin-top: 20px;
  color: var(--white-text-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: inherit;
  letter-spacing: 0.03em;
}

.address-list {
  margin-top: 9px;
}

.address-item + .address-item {
  margin-top: 9px;
}

.address-link {
  color: var(--address-color-link);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

/* СТУДИЯ */

/* Hero */

.hero {
  background-color: var(--footer-bg-color);
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* Benefits */

.benefits-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-list {
  display: flex;
}

.benefits-item {
  flex-basis: 270px;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

.benefits-item-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-item-text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся */

.activities-container {
  padding-bottom: 94px;
}

.activities-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.activities-list {
  display: flex;
  justify-content: space-between;
}

.activities-image {
  display: block;
}

/* Наша команда */

.team {
  background-color: var(--secondary-bg-color);
}

.team-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-list {
  display: flex;
  margin-top: 50px;
}

.team-item {
  flex-basis: 270px;
  padding-bottom: 30px;
  background-color: var(--main-bg-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-photo {
  display: block;
}

.team-name {
  margin-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-position {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

/* ПОРТФОЛИО */

/* Фильтры */

.works-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters {
  display: flex;
  justify-content: center;
}

.filters-button {
  width: 128px;
  height: 38px;
  border-radius: 4px;
  border: none;
  padding: 0;
  background-color: var(--secondary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-button:hover,
.filters-button:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

/* Наши работы */

.works-list {
  margin-top: 20px;
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
}

.works-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}

.works-image {
  display: block;
}

.works-content {
  border-right: 1px solid var(--border-color-works);
  border-left: 1px solid var(--border-color-works);
  border-bottom: 1px solid var(--border-color-works);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.works-item-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works-item-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
